<% @movie = movie %>
<div class="col-sm-6">
  <div class="row wt_pad movie_box">
    <div class="col-sm-4 wt_pad">
      <img src='<%= "http://image.tmdb.org/t/p/w185/#{@movie.poster_path}"%>'>
    </div>
    <div class="col-sm-6 mg_15">
      <p class="movie_title"><%= @movie.title %></p>
      <p class="movie_release_date"><i class="fa fa-calendar-o" aria-hidden="true"></i> <%= @movie.release_date.year %></p>
      <p class="movie_overview"><%= @movie.overview %></p>
    </div>
  </div>
</div>