<div class="col-sm-6 movie_box">
  <div class="row wt_pad">
    <div class="col-sm-4 wt_pad">
      <img src='<%= "http://image.tmdb.org/t/p/w185/#{movie.poster_path}"%>'>
    </div>
    <div class="col-sm-6">
      <p><b><%= movie.title %></b></p>
      <p><b>Overview:</b><%= movie.overview %></p>
    </div>
  </div>
</div>